

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="welcome" data-view="Text" data-title="Hello"></div>
    </li>

      
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hotseat-name" data-view="Text" data-title="Primary"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hotseat-secondary-name" data-view="Text" data-title="Secondary"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Notify-Ops-OnCall-triggered" data-view="Hotness" data-title="Triggered" data-cool="0" data-warm="2"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Notify-Ops-OnCall-acknowledged" data-view="Hotness" data-title="ACK'd" data-cool="0" data-warm="2"></div>
    </li>
      
<li data-row="1" data-col="1" data-sizex="5" data-sizey="1">
  <div data-view="WorldClock" class="widget widget-world-clock"></div>
</li>
      

      
  </ul>
</div>
